.header {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
}

.middle {
    display: flex;
    background: #1F2937;
}

.middle-left {
    flex-direction: column;
}

.middle-right: {
    justify-content:center;
}

.bottom {
    flex-direction: column;
    background: white;
}

.photos {
    display: flex;
}

.photo-text {
    color: rgb(49, 38, 59);
}

.white {
    color:white
}

.button {
    color: white;
    background-color: rgb(19, 161, 161);
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB
}

.text-img-intro {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

* {
    border: 2px solid ed; 
}

